.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: 400px;
}

.movie-card {
  align-items: center;
  height: 800px;
  background-color: rgb(27, 34, 74);
  border-width: 1px;
  border-color: rgb(20, 25, 55);
  border-radius: 0px;
  .movie-title {
    color: whitesmoke;
    font-size: x-large;
  }
  .movie-director {
    color: rgba(245, 245, 245, 0.843);
    font-size: larger;
  }
  .favorite-icon {
    color: rgb(249, 65, 111);
  }
}

.fancy-button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  &:active {
    transform: scale(0.95);
  }
}
