<mat-card class="login-dialog">
  <form (submit)="loginUser()">
    <mat-card-header class="login-title">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-content">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" class="fancy-button">
        <span *ngIf="!uploading">Login</span>
        <mat-spinner *ngIf="uploading" diameter="30"></mat-spinner>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
