.nav-bar{
  background-color: rgb(252, 139, 41);
  color: rgb(27, 34, 74);
  box-shadow: 0 0 25px 0 black;
  margin-bottom: 20px;
  .myflix {
    color: whitesmoke;
    font-size: 45px;
  }
    .example-spacer {
      flex: 1 1 auto;
    }
}